@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&family=Source+Code+Pro:wght@400;500&family=Source+Sans+Pro:wght@600&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: red;
  font-size: 4em;
}

.post-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 2.2em;
}

.author-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: black;
  font-size: 1em;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.2em;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.2em;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: black;
  font-size: 1em;
}

img {
  width: 400px;
  height: 280px;
}
