:root {
  --color1: #001219;
  --color2: #005f73;
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #DBE5DE;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

section h2 {
  font-size: 2.5rem;
}

section ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 1rem;
}

figure {
  margin: 0 0 0.5rem 0;
  padding: 0;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  flex-basis: 50%;
  border-style: solid;
  border-width: thick;
  border-radius: 1%;
}

figure img {
  width: 100%;
  object-fit: cover;
}

figcaption {
  position: absolute;
  padding: 1rem;
  bottom: 0%;
  width: 100%;
  opacity: .7;
  background-color: lightgray;
}

figcaption a {
  display: block;
  color: var(--color1);
  text-decoration: none;
  padding: .1rem;
}

.border-1 {
  border-color: var(--color7);
}

.border-2 {
  border-color: var(--color3);
}

.border-3 {
  border-color: var(--color6);
}

.border-4 {
  border-color: var(--color8);
}

.border-5 {
  border-color: var(--color4);
}

.border-6 {
  border-color: var(--color2);
}

/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {

  section ul {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    gap: 2%;
  }

  section li {
    flex-basis: 49%;
  }

}

/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  section li {
    flex-basis: 32%;
  }
}
